#event_content.watermarkBox { background-image: url(../img/watermark.png); background-position: -5px 0; background-repeat: repeat-y; border-color: #fdcc56; }
#event_content h3.withEventIcon { background:transparent url(../img/medium.png) center left no-repeat; }
#event_content .cols2 { padding-bottom: 0 !important; }
#event_content .cols2 .inactive .activeForm,
#event_content .cols2 .inactiveForm { display: none; }
#event_content .cols2 .activeForm,
#event_content .cols2 .inactive .inactiveForm  { display: block; }
#event_content .cols2 .inactiveForm { margin: 10px 10px 20px; text-align: center; }
#event_content .cols2 .inactiveForm a { padding-right: 23px; background: url(../../../img/_elements/icons/extra-element_view.png) center right no-repeat; }
#event_content .cols2 .activeForm a.removeSide { display: block; position: absolute; top: 5px; right: 5px; width: 16px; height: 16px;
	background: url(../../../img/_elements/icons/extra-element_remove.png) -10px -2px no-repeat; text-decoration: none; text-indent: -9999px; }
#event_content .cols2 .activeForm a.removeSide:hover { border: none; }
#event_content .cols2 .activeForm { width: 100% }
#event_content .cols2 div.label { width: 80px; display: inline; }
#event_content .cols2 .data { display: inline; }
#event_content .eventDetail .eventDetail { background: none; margin-right: 10px; }
#event_content div.activeForm div.aligned { clear: both;}
#event_contentdiv.activeForm div.aligned div.label,
#event_content div.activeForm div.aligned div.data { display: inline-block; }
#event_content .metaData { margin-top: 20px; }
#event_content .Element_OphCiPhasing_IntraocularPressure label { font-size: 13px; }
#event_content .Element_OphCiPhasing_IntraocularPressure th { font-weight: normal; text-align: left; padding: 2px 5px 2px 0; }
#event_content .Element_OphCiPhasing_IntraocularPressure td { padding: 2px 10px 2px 0; }
#event_content .Element_OphCiPhasing_IntraocularPressure .eventDetail { padding-bottom: 0; }
#event_content .Element_OphCiPhasing_IntraocularPressure .data { display: block; margin-bottom: 10px; }
#event_content .Element_OphCiPhasing_IntraocularPressure .data input { font-size: 13px; }
#event_content .Element_OphCiPhasing_IntraocularPressure table { margin-bottom: 5px; clear: both; }
#event_content .Element_OphCiPhasing_IntraocularPressure .readingActions { font-size: 12px; line-height: 19px;}
